<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <template v-if="logado">
        <p>Usuario Logado: {{ nome }}</p>
        <p>Perfil: Admin</p>
    </template>
    <p v-else-if="anonimo">Navegando como anonimo</p>
    <p v-else>Nenhum usuario logado</p>
    <button @click="logado = !logado">{{ logado ? 'Sair' : 'Entrar' }}</button>
    <br>
    <input type="checkbox" v-model="anonimo">
    <hr>
    <footer v-show="logado">
        Desenvolvido para voce!
    </footer>
    <footer v-show="!logado">
        Desenvolvido para voce que é desconhecido !
    </footer>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            nome: 'Maria',
            logado: false,
            anonimo: true
        }
    })
</script>

<!-- 
    Escondendo Elementos com v-show
        - v-show ele somente esconde o elemento, não remove
        - 
 -->